@import url('form.css');
@import url('admlanding.css');
@import url('admpassword.css');
@import url('admclients.css');

$font:'DotGothic16';
$orange:rgb(240, 95, 0);
$orange_light:rgb(240, 176, 0);
$grey:rgb(45,45,45);
$grey_light:rgb(109, 109, 109);