#header_nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white;
  border-bottom: 1px solid #2d2d2d;
  min-height: 15vh;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#header_nav #header_right {
  position: relative;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  width: 70%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#header_nav #header_right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#header_nav #header_right ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  position: relative;
  margin: 0% 2%;
  min-width: 100px;
}

#header_nav #header_right ul li a {
  font-family: "DotGothic16";
  text-decoration: none;
  color: black;
}

#header_nav #header_right ul li a:hover {
  color: #f05f00;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

#header_nav #header_right ul li#search_bar_container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 200px;
}

#header_nav #header_right ul li#search_bar_container input {
  margin: 0% calc(max(1%, 6px));
  border: 1px solid black;
  border-radius: none;
  font-family: "DotGothic16";
  outline: 0;
}

#header_nav #header_right ul li#search_bar_container button {
  background: none;
  border: none;
}

#header_nav #header_left {
  position: relative;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  width: 30%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header_nav #header_left a {
  font-family: "DotGothic16";
  text-decoration: none;
  padding: 1% 2%;
  color: black;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

#header_nav #header_left a h1 {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
  padding: 5px 10px;
}

#header_nav #header_left a h1 span {
  width: 100%;
  display: block;
}

#header_nav #header_left a h1 span:first-of-type {
  background: black;
  text-align: center;
  color: white;
}

#header_nav #header_left a h1 span:last-of-type {
  text-align: right;
}

#header_nav #header_left a:hover h1 span {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#header_nav #header_left a:hover h1 span:first-of-type {
  background: white;
  color: black;
}

#header_nav #header_left a:hover h1 span:last-of-type {
  background: black;
  color: white;
}

@media screen and (max-width: 499px) {
  #header_nav #header_right ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header_nav #header_right ul li a {
    margin: 0 auto;
  }
}
/*# sourceMappingURL=header.css.map */