$font:'DotGothic16';
$orange:rgb(240, 95, 0);
$orange_light:rgb(240, 176, 0);
$grey:rgb(45,45,45);
$grey_light:rgb(109, 109, 109);

#password{
    font-family: $font;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:100%;
    background:white;
    h2{
        font-size: calc(14px + 1vw);
    }
    a{
        text-decoration: none;
        padding:1% 2%;
        border:1px solid black;
        background:white;
        color:black;
        &:hover{
            background:rgb(195, 195, 195);
            transition: all 0.3s;
        }
    }
    form{
        border:1px solid $grey;
        padding:2%;
        display:flex;
        flex-direction: column;
        position:relative;
        align-items: center;
        justify-content: center;
        width:50%;
        margin:2%;
        label, input{
            width:70%;
            text-align: center;
            font-family: $font;
            &[type=submit]{
                margin:2%;
                background:$grey;
                color:white;
                font-family: $font;
                outline:0;
                border:1px solid black;
                border-radius: none;
                padding:1% 0;
                font-size:calc(10px + 0.5vw);
                line-height:calc(10px + 0.5vw);
                &:hover{
                    background:$grey_light;
                    transition:all 0.3s;
                    cursor:pointer;
                    font-size:calc(13px + 0.5vw);
                }
            }
        }
        label{
            margin-bottom:1%;
        }
    }
}