@import url('password.css');
@import url('landing.css');
@import url('addresses.css');

$font:'DotGothic16';
$orange:rgb(240, 95, 0);
$orange_light:rgb(240, 176, 0);
$grey:rgb(45,45,45);
$grey_light:rgb(109, 109, 109);

#profile{
    display:flex;
    flex-direction: column;
    font-family: $font;
    justify-content: center;
    align-items: center;
    min-width: max-content;
}